@import 'normolize';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

body {
  color: #fff;

  background-color: #070f16;
}

// #002540, #001f36

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;

  &-wrapp {
    display: flex;
    justify-content: space-between;

    text-transform: uppercase;
  }

  &-logo {
    padding: 17px 105px;

    font-weight: bold;

    background: linear-gradient(to bottom, #002540, #001f36, #002540);
    border-radius: 0 0 50px 50px;

    span {
      position: relative;

      &::before {
        position: absolute;
        top: -2px;
        left: -43px;

        display: block;
        width: 25px;
        height: 25px;

        background: url("../images/flag.png");

        content: "";
      }
    }
  }

  &-offer {
    padding: 17px 60px;

    background: linear-gradient(to bottom, #002540, #001f36, #002540);
    border-radius: 0 0 50px 50px;
  }

  &-price {
    margin-right: 30px;

    font-weight: normal;

    span {
      font-weight: bold;
      text-decoration: line-through;
    }
  }

  &-instock {
    font-weight: bold;

    span {
      position: relative;

      color: #ffe400;

      &:last-child {
        position: relative;
        top: 2px;

        padding-left: 17px;

        font-size: 34px;
        line-height: 18px;
      }
    }
  }
}
// header end

.main {
  min-width: 1170px;
  padding-top: 55px;

  background-image: url("../images/fire_bg.png"), url("../images/couple_bg.png");
  background-repeat: no-repeat;
  background-position: 55% 220px, 400px top;
  background-size: 70%, 90%;

  &-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 68px;

    &-item {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-header {
    max-width: 695px;
    margin-bottom: 50px;
    margin-left: 68px;

    font-size: 42px;
    text-transform: uppercase;

    span {
      color: #ffe400;
      text-transform: none;
    }
  }

  &-features {
    &-list {
      display: block;
      margin-bottom: 40px;
      margin-left: 0;
      padding-left: 0;

      list-style: none;
    }

    &-item {
      display: flex;
      align-items: center;

      font-weight: bold;
      font-size: 24px;

      &:not(.main-features-item:last-child) {
        margin-bottom: 40px;
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-right: 25px;
    }
  }

  &-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-display: row;
    width: 484px;
    margin-bottom: 40px;
    padding: 16px 26px 16px 50px;

    border: 2px dashed #fff;
    border-radius: 100px;

    &-price {
      display: inline-block;
      width: 40%;
      margin: 0;

      font-weight: bold;
      font-size: 23px;
      line-height: 23px;

      span {
        display: inline-block;
        margin-top: 5px;

        color: #ffe400;
        font-size: 44px;
        line-height: 44px;
      }
    }

    &-btn {
      display: inline-block;
      width: 240px;
      height: 57px;
      padding: 13px 28px 13px 68px;

      color: #000;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      text-decoration: none;

      background: url("../images/button.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &--mobile {
      display: none;
    }
  }

  &-drop {
    display: flex;
    align-items: flex-end;
    padding-left: 37px;

    img {
      width: 295px;
      height: 395px;
    }
  }

  &-guarantee {
    margin-left: 50px;
    padding-top: 130px;

    &-wrapp {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 100%;
    }

    &-item {
      position: relative;

      height: 117px;

      color: #000;
      text-align: center;

      &:first-child {
        width: 100px;

        background: url("../images/guarantee.png");
        background-repeat: no-repeat;
        background-size: contain;

        span {
          position: absolute;
          top: 35%;
          left: 0;

          font-weight: bold;
          font-size: 12px;
        }
      }

      &:last-child {
        width: 117px;

        background: url("../images/mushroom.png");
        background-repeat: no-repeat;
        background-size: contain;

        span {
          position: absolute;
          top: 55%;
          left: 50%;

          display: inline-block;
          width: 80%;

          font-weight: bold;
          font-size: 9px;

          transform: translateX(-50%);
        }
      }
    }

    &-list {
      width: 100%;
      margin: 0;
      padding: 0;

      list-style: none;

      li {
        margin-bottom: 8px;

        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
      }
    }
  }
}

//Order
.order {
  position: relative;

  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    width: 100%;
    height: 110%;

    background-image: url("../images/couple_bg.png");
    background-repeat: no-repeat;
    background-position: 70% 155px;
    opacity: 0.4;

    content: "";
  }

  &::after {
    position: absolute;
    top: 0;
    left: -7px;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-image: url("../images/fire_bg.png");
    background-repeat: no-repeat;
    background-position: -40% 130px;
    background-size: 74%;
    opacity: 0.7;

    content: "";
  }

  &-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
    padding-left: 68px;
  }

  &-header {
    margin-top: 60px;

    text-align: center;
  }

  &-title {
    margin-bottom: 10px;

    font-size: 35px;

    span {
      color: #ffe400;
    }
  }

  &-subtitle {
    margin: 0 0 38px 0;

    font-size: 24px;
  }

  &-features {
    width: 70%;

    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      &-item {
        width: 140px;
        height: 90px;

        font-size: 12px;
        text-align: center;
      }
    }

    &-icon {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      height: 45px;
      margin-bottom: 17px;
    }

    &-wrapp {
      display: flex;
      flex-direction: row;
    }

    &-drop {
      padding-top: 20px;

      img {
        width: 312px;
        height: 426px;
      }
    }

    // List
    &-list {
      margin-top: 100px;
      margin-left: 33px;
      padding: 0;

      list-style: none;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 35px;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 40px;

      font-weight: bold;
      font-size: 22px;
    }

    &-text {
      font-weight: bold;
      font-size: 12px;
    }
  }

  &-form {
    width: 340px;
    margin-left: 55px;
    padding: 19px 0 30px;

    background-color: #0c1926;
    border: 2px dashed #0d2c4f;
    border-radius: 10px;
    box-shadow: -5px 5px 5px 2px rgba(0, 0, 0, .4);

    &-title {
      width: calc(100% + 4px);
      margin-top: 0;
      margin-left: -2px;
      padding: 19px 0;

      font-weight: bold;
      font-size: 19px;
      line-height: 19px;
      text-align: center;

      background-color: #e31e1e;
    }

    &-subtitle {
      width: 80%;
      margin: 0 auto;

      font-weight: bold;
      font-size: 21px;
      text-align: center;
    }

    &-price {
      position: relative;

      padding: 20px 0 25px;

      text-align: center;

      .form-price {
        display: inline-block;

        color: #ffe400;
        font-weight: bold;
        font-size: 44px;
        line-height: 44px;

        &-text {
          position: relative;
          top: -11px;
          font-size: 18px;
        }

        &-old {
          position: relative;
          top: -11px;

          text-decoration: line-through;
        }
      }
    }

    &-saving {
      width: 90%;
      margin: 0 auto;

      color: #ffe400;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;

      span {
        color: #fff;
      }
    }
  }
}

.icon {
  &-gender {
    fill: #ffe400;
  }
}

.form {
  width: 100%;

  text-align: center;

  &-field {
    width: 269px;
    margin-bottom: 20px;
    padding: 18px 0;

    color: #000;
    font-weight: bold;
    font-size: 15px;
    text-align: center;

    border: none;
    border-radius: 50px;
    box-shadow: inset 1px 2px 3px 2px rgba(0, 0, 0, 0.5);

    &::placeholder {
      color: #000;
      font-weight: bold;
    }

    &:focus {
      outline: none;
    }
  }

  &-btn {
    margin: 7px 0 30px;

    border: none;

    &:focus {
      outline: none;
    }
  }

  p {
    margin: 0;
  }
}

@media (max-width: 475px) {
  html {
    font-size: 12px;
  }

  body {
    max-width: 475px;
    margin: 0 auto;
  }

  .container {
    width: 320px;
    margin: 0 auto;
    // overflow: hidden;
  }

  .header {
    &-wrapp {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      width: 95%;

      margin: 0 auto;

      background: linear-gradient(to bottom, #002540, #001f36, #002540);

      border-radius: 0 0 30px 30px;
    }

    &-logo {
      width: 100%;
      padding: 13px 0;

      text-align: center;

      background: transparent;
    }

    &-offer {
      padding: 0 0 15px;

      background: transparent;
    }

    &-price {
      display: block;
      margin: 0 0 5px;

      font-size: 16px;
      text-align: center;
    }

    &-instock {
      display: inline-block;
      width: 100%;

      text-align: center;

      span {
        &:last-child {
          top: 2px;

          padding-left: 5px;

          font-size: 22px;
          line-height: 18px;
        }
      }
    }
  }

  .main {
    position: relative;

    width: 100%;
    min-width: 320px;
    max-width: 475px;
    padding: 20px 0 0;
    overflow: hidden;

    background-position: -70px 300px, 0 267px;
    background-size: 100%, 130%;

    &-header {
      margin: 0 auto 30px;

      font-size: 18px;
      text-align: center;
    }

    &-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
    }

    &-features {
      width: 100%;
      margin-bottom: 20px;

      &-list {
        margin: 10px 55px 10px;
        padding-left: 0;
      }

      &-item {
        font-size: 14px;

        &:not(.main-features-item:last-child) {
          margin-bottom: 20px;
        }
      }

      &-icon {
        width: 25px;
        height: 25px;

        margin-right: 15px;
      }
    }

    &-drop {
      width: 50%;
      padding-left: 15px;

      img {
        width: 95%;
        height: 95%;
      }
    }

    &-guarantee {
      width: 50%;
      margin: 0;
      padding-top: 30px;

      &-wrapp {
        align-items: center;
        justify-content: space-around;
        margin: 0 auto 15px;
      }

      &-item {
        height: 70px;

        &:first-child {
          width: 60px;

          span {
            font-size: 8px;
          }
        }

        &:last-child {
          width: 70px;

          span {
            font-size: 7px;
          }
        }
      }

      &-list {
        li {
          margin-bottom: 4px;

          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &-order {
      display: none;

      &--mobile {
        display: flex;
        align-items: center;
        width: 95%;
        margin: 30px auto 30px;
        padding: 10px 10px 10px 25px;
      }

      &-price {
        width: 42%;

        font-size: 16px;
        line-height: 16px;

        span {
          margin-top: 5px;

          font-size: 20px;
          line-height: 20px;
        }
      }

      &-btn {
        width: 150px;
        height: 36px;
        padding: 8px 10px 6px 50px;

        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  .order {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      width: 100%;
      height: 100%;

      background-image: url("../images/couple_bg.png");
      background-repeat: no-repeat;
      background-position: -80px 520px;
      background-size: 160%;
      opacity: 0.4;

      content: "";
    }

    &::after {
      position: absolute;
      top: 0;
      left: -7px;
      z-index: -1;

      width: 100%;
      height: 100%;

      background-image: url("../images/fire_bg.png");
      background-repeat: no-repeat;
      background-position: -90px 590px;
      background-size: 110%;
      opacity: 0.7;

      content: "";
    }

    &-header {
      margin-top: 10px;

      text-align: center;
    }

    &-title {
      margin-bottom: 1px;

      font-size: 18px;
    }

    &-subtitle {
      margin: 0 0 30px 0;

      font-size: 12px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      padding-bottom: 60px;
      padding-left: 0;
    }

    &-features {
      width: 100%;

      &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &-item {
          margin-bottom: 20px;
        }
      }

      &-wrapp {
        margin-top: 20px;
        margin-bottom: 30px;
      }

      &-drop {
        display: flex;
        align-items: center;
        width: 50%;
        margin: 0 0 0 10px;
        padding: 0;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &-list {
        margin-top: 30px;
        margin-left: 20px;

        &-icon {
          width: 20px;
          height: 20px;
          margin-right: 15px;
        }
      }

      &-item {
        margin-bottom: 20px;

        font-size: 10px;
      }
    }

    &-form {
      width: 95%;
      margin: 20px auto 0;
      padding: 19px 0 30px;

      &-title {
        padding: 15px 0;

        font-size: 16px;
        line-height: 16px;
      }

      &-subtitle {
        width: 80%;

        font-size: 18px;
      }

      &-price {
        .form-price {
          margin: 0 5px;

          font-size: 34px;
          line-height: 34px;

          &-text {
            position: relative;
            top: -9px;

            font-size: 16px;
          }

          &-old {
            top: -6px;

            font-size: 18px;
          }
        }
      }

      &-saving {
        width: 87%;

        font-size: 16px;
        line-height: 22px;
      }
    }

    .form {
      &-field {
        width: 80%;
        padding: 14px 0;

        font-size: 14px;
      }
    }
  }
}
